.ht308-main {
  position: absolute;
  left:20px; right:20px;
  top: 0px;
  bottom: 228px;
}

.ht308-bottom {
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  height: 220px;
}

.ht308-left {
  position: absolute;
  top: 70px;
  left: 0;
  width: 430px;
  bottom: 228px;
}